*{
  margin:0;
  padding:0;
  font-family: 'Anton', sans-serif;
  /*border: 1px solid red;*/
}

.image{
  background-image: url("images/audience.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 5px;
  width: 100%;
  height:400px;
  background-position: bottom;
}

.image h1{
  text-align: center;
  margin-top: 60px;
  font-size: 90px;
}

.player{
  display: flex;
  flex-direction: column;
  background-color: white;
  opacity: 0.7;
  margin-top: 120px;
  width: 100%;
  height: 100px;
}

#music_player{
  align-self: center;
  margin-top: 30px;
  width: 500px;
  border-radius: 7px;
  border: 2px solid gray;
}

h4{
  margin-top: 25px;
  margin-left: 400px;
}

.search-form{
  display: flex;
  justify-content: center;
  margin: 40px;
  padding-top: 30px;
  padding-bottom: 30px;
  align-items: center;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  margin-bottom: 20px;
}

input{
  width: 800px;
  height: 50px;
  font-size: 20px;
}

#searchBar{
  width: 800px;
  height: 50px;
  font-size: 20px;
  background-color: #F3F3E9;
  color: black;
  border-radius: 3px;
}

#searchBar :active{
  width: 800px;
  height: 50px;
  font-size: 20px;
  background-color: #F3F3E9;
  color: black;
  border-radius: 3px;
}

#searchBar:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px #F3F3E9 inset;
}

#searchBar:focus{
  outline: 0px;
}


#submitButton{
  width: 200px;
  font-size: 20px;
  margin-left: 15px;
  background-color:#F3F3E9;
  border-radius: 3px;
}

#submitButton:focus{
  outline: 0px;
}

#results {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 20px;
}

.songs{
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  flex-direction: column;
  flex-wrap: nowrap;
  flex: 1 1 15%;
  border: 2px solid #463339;
  border-radius: 7px;
  height: 250px;
  margin: 10px;
  padding-bottom: 15px;
}

.songs img{
  height: 150px;
}

.songs h3{
  text-shadow: 1px 1px lightgray;
}
